
  
  .table {
    font-size: 15px;
    font-family:sans-serif;
    margin: 0 auto;
    max-width: 700px; /* Set the maximum width of the table */
    width: 100%; /* Set the width of the table to 100% to make it responsive */
  }

/* Give each row a different color */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #e6e6e6;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.edit {
  background-color: #317eca; /* set the button's background color */
  color:  #f3f5f7; /* set the button's text color */
  border: none; /* remove the button's border */
  padding: 8px 16px; /* add some padding to the button */
  border-radius: 4px; /* add some border radius to the button */
  transition: background-color 0.3s ease-in-out; /* add a transition effect to the button's background color */
}

.edit:hover {
  background-color: #1ba3d0; /* change the button's background color on hover */
  cursor: pointer; /* change the mouse cursor on hover */
}

.delete {
  background-color: #d43c1d; /* set the button's background color */
  color: #fafafa; /* set the button's text color */
  border: none; /* remove the button's border */
  padding: 8px 16px; /* add some padding to the button */
  border-radius: 4px; /* add some border radius to the button */
  transition: background-color 0.3s ease-in-out; /* add a transition effect to the button's background color */
}

.delete:hover {
  background-color: #be9847; /* change the button's background color on hover */
  cursor: pointer; /* change the mouse cursor on hover */
}